header {
    text-align: center;
}

main {
    font-family: 'Poppins';
}

footer {
    text-align: center;
}

div {
    width: 700px;
    margin: auto;
    padding: 16px;
    text-align: center;
}

h1 {
    text-align: center;
}

.first-paragraph {
    font-size: 18px;
}

.second-paragraph {
    font-size: 14px;
}

.third-paragraph {
    font-size: 10px;
}