<div class="row">
  <div class="col-xs-12">
    <h3>Manajemen Tugas</h3>
    <hr>
    <label>Nama Tugas</label>
    <input type="text" class="form-control" [(ngModel)]="newTaskName">
    <label>Deskripsi Tugas</label>
    <input type="text" class="form-control" [(ngModel)]="newTaskContent">
    <br>
    <button class="btn btn-primary" (click)="onAddTask()">Tambah Tugas Individu</button>
    <button class="btn btn-primary" (click)="onAddGroupTask()">Tambah Tugas Kelompok</button>
  </div>
</div>
